# Node modules
node_modules/

# Environment variables
.env
config.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/

# Build / dist / cache
dist/
build/
.cache/
coverage/

# Optional: MongoDB local database files (if any)
data/
